body {
    margin: 0;
    background: black;
    color: #00ff00;
    font-family: "Courier New", monospace;
    overflow-y: auto;
}

.terminal {
    display: block;
    padding: 40px;
    min-height: auto;
}

.line {
    margin: 15px 0;
    font-size: clamp(16px, 4vw, 24px);
}

.hidden {
    display: none;
}


#photoSection {
    display: none;
}

#birthday-section {
    text-align: center;
    margin-top: 40px;
    animation: fadeIn 2s ease-in-out;
}

h1 {
    color: #00ff00;
    font-size: clamp(2rem, 8vw, 3rem);
    text-shadow: 0 0 15px #00ff00;
}

.photos {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.photos img {
     width: min(180px, 40vw);
    height: min(180px, 40vw);
    object-fit: cover;
    border: 3px solid #00ff00;
    box-shadow: 0 0 20px #00ff00;
    border-radius: 15px;
}

#giftPhoto {
    margin-top: 25px;
    opacity: 0;
    transition: opacity 2s ease;
}

#giftPhoto {
    margin-top: 30px;
    opacity: 0;
    transition: opacity 2s ease;

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#giftPhoto img {
    width: min(220px, 70vw);
    border: 3px solid #00ff00;
    border-radius: 15px;
    box-shadow: 0 0 25px #00ff00;
}

.message {
    margin-top: 25px;
    font-size: 24px;
    color: white;
}

.slidePhoto {
    display: none;
    width: min(300px, 80vw);
    border: 3px solid #00ff00;
    border-radius: 15px;
    box-shadow: 0 0 25px #00ff00;
    opacity: 0;
    transition: opacity 2.5s ease;
    margin: 20px auto;
}

#slideshowContainer {
    text-align: center;
    pointer-events: none;
}
#startScreen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#startBtn {

    background: black;
    color: #00ff00;

    border: 2px solid #00ff00;

    padding: 20px 40px;

    font-size: 24px;

    cursor: pointer;

    font-family: "Courier New", monospace;

    box-shadow: 0 0 20px #00ff00;
}

#startBtn:hover {
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}